* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

/* header-section */

.header-section {
  position: relative;
}

.banner-img {
  width: 100%;
  height: auto;
}

/* header texts */

.header-txt {
  width: 50%;
  position: absolute;
  top: 25%;
  right: 0;
  text-align: end;
  margin-right: 30px;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #ffffff;
}

/* head-text */

.head-text {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  padding-bottom: 24px;
}

.contract-btn {
  background-color: #ffffff;
  color: #005fac;
  border: none;
  outline: none;
  padding: 15px 15px;
  border-radius: 5px;
}

.middle-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 200px 0px;
}

/* mid-head-txt */
.mid-head-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 24px;
}

/* mid-head-paragraph */

.mid-head-para {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}

/* mid-head-plain-txt */
.mid-head-plain-txt {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}

/* last-section */

.last-section{
  margin-bottom: 200px;
}

/* last-section-head-txt */

.last-section-head-txt {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #151414;
  margin-bottom: 50px;
}

/* last-section-img */

.last-section-img {
  display: flex;
  justify-content: center;
}

.last-section-img div {
  margin-right: 86px;
  text-align: center;
}

/* last-section-heading-txt */

.last-section-heading-txt {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
  margin-top: 15px;
}

.last-section-img div p {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}

/* banner-section */

.banner-section {
  position: relative;
  margin-bottom: 200px;
}

.image {
  text-align: center;
}

.banner-txt {
  position: absolute;
  top: 35%;
  left: 25%;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
}

/* banner--head-txt */

.banner--head-txt {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
}

/* contract-btn */

.contract-btn {
  margin-top: 25px;
}

/* footer */

.footer {
  width: 100%;
  height: 577px;
  left: 0px;
  top: 2651.96px;
  background: #151414;
  color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer div h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  padding-bottom: 15px;
}

.footer div p {
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 24px;
}

.footer div h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  padding-bottom: 31px;
  color: #ffffff;
}

.subs-btn {
  background-color: #005fac;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 15px 15px;
  border-radius: 5px;
  margin-top: 16px;
  cursor: pointer;
}

input {
  background-color: #151414;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid white;
  border-radius: 10px;
}
